<!doctype html>user
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
Merhaba {{ user.username }}

{% for article in articles %}
        <p style="color: red">{{ article.title }}</p>
        <p style="color: purple">{{ article.description }}</p>
        <p style="color: blue">{{ article.created_date }}</p>
    <p> Author: {{ article.created_date|date:"Y-M-D" }}</p>
        <br>
{% endfor %}

</body>
</html>